.ba-slider {
    position: relative;
    overflow: hidden;
}
 
.ba-slider img {
    width: 100%;
    display:block;
    max-width:none;
}
 
.ba-slider .resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.ba-slider .handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
 
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}
 
.ba-slider .handle:after {  /* The handle  */
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
 
    content:'\21d4';
    color:white;
    font-size:32px;
    text-align:center;
    line-height:40px;
 
    background: #383838;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3), 
      inset 0 60px 50px -30px #575757;
}

.ba-slider .handle.ba-draggable:after {
    width: 36px;
    height: 36px;
    margin: -18px 0 0 -18px;
    line-height:30px;
    font-size:24px;
    border:1px solid rgb(113, 187, 255);
    color:rgb(113, 187, 255);
}
